body{
   margin: 0%;
}

nav{
   display: flex;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   background: white;


}
 #logo-theme{
    display: flex;
   align-items: center;
    
} 
/* .logo{
   height: 30px;
   width: 30px;
} */
ul#logo-theme {
    gap: 50px;
}
ul{
    gap: 16px;
   list-style-type: none;
}

.themes-card{
 /* background: rgb(25, 25, 112);  */
  /* border: 1px solid #ccc;
  border-radius: 10px; */
  width: 250px;
  padding: 15px;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
  

}
h1 ,h2{
 color: black;
}

.nomJournal{
color: black;

}

 #themes-container{
   background: rgb(25, 25, 112);
/* margin: 16px; */
}  
.divContainer{
  display: flex;
}

/* .Projet-principal{

}  */

.bouton{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   text-decoration: none;
   padding: 8px 16px;
   width: fit-content;
   font-weight: 500;
   transition: all .3s ease-in-out;
     background: #8005F2;
   color: white;
}

/* .bouton.primaire{
   background: #8005F2;
   color: white;
} */

.bouton:hover{
   background: #c38ff5;
}
.img1{

   
   width: 100%;
}

.info-art-prnicipal{

   margin: 36px;
   margin-top: 8px;
}
.theme-date{
   display: flex;
   gap: 8px;
}




.transi{
   display: flex;
   justify-content: space-around;
   margin: 0;

}
.carte-des-article{
display: flex;
margin: 8px;
}
.info-des-articles{

   display: flex;
    flex-direction: column;
    margin: 8px;
}

.img-articles{
    height: 250px;
    width: 444px; 
    
    
} 

.ensenble-des-auteur{

display: flex;

}
.info-auteur{
display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(7, 17, 136);
  border: 1px solid #ccc;
  border-radius: 10px;
  
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  


}
 .image-auteur{
   height: 100px;
   width: 100px;
   border-radius: 100%;
} 

.texte-auteur{
   display: flex;
       flex-direction: column;
    align-items: center;
}

footer{
   display: flex;
   justify-content:center;
}
